<h2>Homepage</h2>

<h3>Search Nearby Restaurants</h1>
<form method="GET" action="/restaurant/results">
    <input id="search" type="text" name="search" placeholder="Zipcode" />
    <input type="submit" value="Search"/>
</form>